.light {
  transform: scale(1.2);
  border: solid 13.5px;
  filter: blur(3px);
  width: 2px;
  height: 2px;
  border-radius: 100%;
  border-color: #22c28b;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {filter: blur(1px);}
  50% {filter: blur(2px);}
  100% {filter: blur(1px);}
}
