<mat-toolbar class="navbar" color="primary">
  <div>
    4K
  </div>
  <div>
    <span>Home</span>
    <span>Settings</span>
    <span>About</span>
  </div>
</mat-toolbar>
<div class="container">
  <!--  <mat-card class="chartHolder">-->
  <app-status></app-status>
  <mat-tab-group animationDuration="1500ms">
    <mat-tab label="assestatie-05">
      <ng-template matTabContent>
        <div class="tab">
          <chart class="chart" *ngIf="labels" chartType="line"
                 [chartDataSets]="generateDataSets(assestatie05EventsPerDay)" [labels]="labels"></chart>
          <div class="messageHolder">
            <app-message-holder class="messageHolder" searchId="assestatie-05"></app-message-holder>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="assestatie-05">
      <ng-template matTabContent>
        <div class="tab">
          <chart class="chart" *ngIf="labels" chartType="line"
                 [chartDataSets]="generateDataSets(assestatie05EventsPerDay)" [labels]="labels"></chart>
          <div class="messageHolder">
            <app-message-holder class="messageHolder" searchId="assestatie-05"></app-message-holder>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <!--  </mat-card>-->
  <!--  <mat-card class="chartHolder">-->
  <app-status></app-status>
  <mat-tab-group animationDuration="1500ms">
    <mat-tab label="assestatie-05">
      <ng-template matTabContent>
        <div class="tab">
          <chart class="chart" *ngIf="labels" chartType="line"
                 [chartDataSets]="generateDataSets(assestatie05EventsPerDay)" [labels]="labels"></chart>
          <div class="messageHolder">
            <app-message-holder class="messageHolder" searchId="assestatie-05"></app-message-holder>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="assestatie-05">
      <ng-template matTabContent>
        <div class="tab">
          <chart class="chart" *ngIf="labels" chartType="line"
                 [chartDataSets]="generateDataSets(assestatie05EventsPerDay)" [labels]="labels"></chart>
          <div class="messageHolder">
            <app-message-holder class="messageHolder" searchId="assestatie-05"></app-message-holder>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <!--  </mat-card>--> <!--  <mat-card class="chartHolder">-->
  <app-status></app-status>
  <mat-tab-group animationDuration="1500ms">
    <mat-tab label="assestatie-05">
      <ng-template matTabContent>
        <div class="tab">
          <chart class="chart" *ngIf="labels" chartType="line"
                 [chartDataSets]="generateDataSets(assestatie05EventsPerDay)" [labels]="labels"></chart>
          <div class="messageHolder">
            <app-message-holder class="messageHolder" searchId="assestatie-05"></app-message-holder>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="assestatie-05">
      <ng-template matTabContent>
        <div class="tab">
          <chart class="chart" *ngIf="labels" chartType="line"
                 [chartDataSets]="generateDataSets(assestatie05EventsPerDay)" [labels]="labels"></chart>
          <div class="messageHolder">
            <app-message-holder class="messageHolder" searchId="assestatie-05"></app-message-holder>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <!--  </mat-card>--> <!--  <mat-card class="chartHolder">-->
  <app-status></app-status>
  <mat-tab-group animationDuration="1500ms">
    <mat-tab label="assestatie-05">
      <ng-template matTabContent>
        <div class="tab">
          <chart class="chart" *ngIf="labels" chartType="line"
                 [chartDataSets]="generateDataSets(assestatie05EventsPerDay)" [labels]="labels"></chart>
          <div class="messageHolder">
            <app-message-holder class="messageHolder" searchId="assestatie-05"></app-message-holder>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="assestatie-05">
      <ng-template matTabContent>
        <div class="tab">
          <chart class="chart" *ngIf="labels" chartType="line"
                 [chartDataSets]="generateDataSets(assestatie05EventsPerDay)" [labels]="labels"></chart>
          <div class="messageHolder">
            <app-message-holder class="messageHolder" searchId="assestatie-05"></app-message-holder>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <!--  </mat-card>-->
</div>
