@import 'config';

.app {
  display: grid;
  grid-template-rows: $header-height calc(100vh - #{$header-height});
  grid-template-columns: $sidebar-width auto;
  grid-template-areas:
    'header header'
    'main main';

  &__header {
    grid-area: header;
  }

  &__sidebar {
    grid-area: sidebar;
  }

  &__main {
    grid-area: main;
    padding: 30px;
  }
}
