
.navbar {
  justify-content: space-between;
  user-select: none;
  span {
    padding: 1rem;

  }
  span:hover {
    background-color: rgba(0,0,0,0.2) ;
  }

}

.container {
  display: grid;
  margin: 0 auto;
  width: 95vw;
  height: 90vh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45vh 45vh;
  grid-row-gap: 1vw;
  grid-column-gap: 1vh;
}

.tab {
  overflow: -moz-scrollbars-none;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 80%;

  .chart{

  }

  .messageHolder {

  }
}



.chartHolder {
  background-color: #FCFCFC;
  width: 90%;
}

app-status {
  position: absolute;
  right: 30px;
}





