@import 'config';

.sidebar-item {
  display: flex;
  width: 100%;
  padding: 10px 15px;
  color: $color-gray;
  align-items: center;
  text-decoration: none;
  font-size: $font-size-small;
  transition: padding 350ms ease-in-out;

  &__text {
    margin-left: 15px;
  }

  &:hover {
    color: $color-white;
    padding-left: 20px;
  }
}
