@import 'config';

.dashboard {
  display: grid;
  height: calc(100vh - #{$header-height} - 60px);
  grid-template-columns: auto 350px;
  grid-gap: 30px;

  &__content {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
