$color-primary: #353943;
$color-secondary: #474c59;
$color-tertiary: #e95f4c;

$color-gray: #f1f2f3;
$color-black: $color-primary;
$color-white: #fff;

$font-family: 'Work Sans', sans-serif;

$font-size-small: 14px;
$font-size-normal: 16px;

$font-weight-normal: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

$header-height: 60px;
$sidebar-width: 255px;
